@import './reset.scss';
$baseFontSize:17px;
$redColor:#d43d3d;
$assetsDir:'assets';
.header {
    height: 45px;
    background-color: $redColor;
    .title_logo {
        width: 100px;
        height: 100%;
        margin: 0 auto;
        background: {
            position: center;
            size: contain;
            repeat: no-repeat;
            image: url($assetsDir+'/wap_logo@3x_581de69e.png');
        }
        ;
    }
}